entrypoint = "index.js"
modules = ["nodejs-22"]
hidden = [".config", "package-lock.json"]

[gitHubImport]
requiredFiles = [".replit", "replit.nix", "package.json", "package-lock.json"]

[nix]
channel = "stable-24_11"

[deployment]
run = ["sh", "-c", "node app.js"]
deploymentTarget = "autoscale"
ignorePorts = false

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 46906974
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node app.js"

[[ports]]
localPort = 5000
externalPort = 80
